<h1>Stupid Coaching</h1>

<p class="message"><%= @question %></p>
<p class="user">- You</p>

<p class="message"><%= @answer %></p>
<p class="user">- Your coach</p>

<p><%= link_to 'Ask a new question', '/ask' %></p>
