<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 offset-sm-4 text-center">
        <h1>Stupid Coaching</h1>
        <p class="message"><%= @question %></p>
        <p class="user">- You</p>
        <p class="message"><%= @answer %></p>
        <p class="user">- Your coach</p>
        <p id="link-question"><%= link_to 'Ask a new question', '/ask' %></p>
    </div>
  </div>
</div>
