// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px
}

h1 {
  font-family: 'PT Sans', sans-serif;
}

.message {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #76B782;
}
